<script>
    function GetData(url, onSuccess) {
        $.ajax({
            type: "GET",
            cache: false,
            url: url,
            dataType: "json",
            success: function (data, textStatus, jqxhr) {
                onSuccess(data.Json, data.Html);
            },
            error: function (data, text, error) {
                alert("Error: " + error);
            }
        });
        return false;
    }
    function UpdateUi(json, html) {
        $("#target1").html(html[0]);
        $("#target2").html(html[1]);
        $("#target3").html(html[2]);
        $("#target4").html(json.Total);
        $("#target5").html(json.Time);
    }
</script>

<input type="button" onclick="GetData('/Home/Demo', UpdateUi);" value="Run demo"/>

<p>
    <strong>Html[0]:</strong> <div id="target1"></div>
</p>
<p>
    <strong>Html[1]:</strong> <div id="target2"></div>
</p>
<p>
    <strong>Html[2]:</strong> <div id="target3"></div>
</p>
<p>
    <strong>Json.Total:</strong> <div id="target4"></div>
</p>
<p>
    <strong>Json.Time:</strong> <div id="target5"></div>
</p>