@{
    ViewBag.Title = "Home Page";
}

<h2><span id="Total"></span> Cars</h2>

<a href="#" id="RunMultiResultDemo" data-url="@Url.Action("MultiResultDemo")">Refresh</a>

<div id="Cars"></div>
<div id="RandomCars"></div>

This was last updated at <span id="Time"></span>