@{
    ViewBag.Title = "Home Page";
}

<h2><span id="Total"></span> Cars</h2>

<a href="#" id="RunSingleResultDemo" data-url="@Url.Action("SingleResultDemo")">Refresh</a>

<div id="Cars"></div>

This was last updated at <span id="Time"></span>